@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?etlnnd');
  src: url('fonts/icomoon.eot?etlnnd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?etlnnd') format('truetype'),
    url('fonts/icomoon.woff?etlnnd') format('woff'),
    url('fonts/icomoon.svg?etlnnd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

/* layout */
#app-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgb(239, 241, 247);
}

/*app右部wrapper*/
.app-right-wrapper {
  width: 100%;
  padding: 15px;
}

.app-right-wrapper::-webkit-scrollbar {
  display: none;
}

.app-right-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media screen and (max-width: 800px) {
  .app-right-wrapper {
    padding-left: 15px;
  }
}

/*app右部section-wrapper*/
.app-section {
  position: relative;
  margin-bottom: 5px;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgb(239, 238, 234);
  border-left-color: rgb(213, 211, 206);
  border-bottom-color: rgb(213, 211, 206);
  text-align: left;
}

/*每个section的标题*/
.app-section-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

.app-section-subtitle {
  font-size: 12px;
  font-weight: 500;
}