
//气泡
@mixin tooltip($mainDirection,$crossDirection,$fontSize:14px){
    position: absolute;
    font-size: $fontSize;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background-color: #fff;
    box-shadow: 0px 1px 3px #eee;
    &::after{
        content: '';
        display: block;
        position: absolute;
        width: 0.5em;
        height: 0.5em;  
        background-color: #fff;
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
        @if $mainDirection == top{
            transform: rotate(-45deg);
            top: -0.3em;
        }@else if $mainDirection == bottom{
            transform: rotate(135deg);
            bottom: -0.3em;
        }@else if $mainDirection == left{
            transform: rotate(-135deg);
            left: -0.3em;
        }@else if $mainDirection == right{
            transform: rotate(45deg);
            right: -0.3em;
        }

        @if $crossDirection == left{
            left: 2em;
        }@else if $crossDirection == right{
            right: 2em;
        }@else if ($mainDirection == top and $crossDirection == center){
            left: 50%;
            transform: rotate(-45deg) translateX(-50%);
        }@else if ($mainDirection == bottom and $crossDirection == center){
            left: 50%;
            transform: rotate(135deg) translateX(-50%);
        }@else if $crossDirection == top{
            top: 2em;
        }@else if $crossDirection == bottom{
            bottom: 2em;
        }@else if ($mainDirection == left and $crossDirection == center){
            top: 50%;
            transform:  translateY(-50%) rotate(-135deg);
        }@else if($mainDirection == right and $crossDirection == center){
            top: 50%;
            transform:  translateY(-50%) rotate(45deg);
        }
    }

}


//单行气泡文字提示
@mixin singlelineTip($mainDirection,$crossDirection,$fontSize:14px){
    @include tooltip($mainDirection, $crossDirection, $fontSize);
    height: 2em;
    line-height: 2em;
    padding: 0 0.5em;
}