$themeColor:#415757;
$subThemeColor:#3b4757;
$themeTextColor:#2c3e50;
$red:#aa5958;
$green:#84b678;
$yellow:#e4da76;


$appBg :rgb(239, 241, 247);


//sidebar
$sidebarBg: $themeColor;
$sidebarText:whitesmoke;
$sidebarActiveBg: #4f7170;
$descriptionBg:$themeColor;
$descriptionText: whitesmoke;

$sidebarWidth : 220px;

//topBar
$topbarBg: #fff;
$topbarTitle:$themeTextColor;
