$themeGreen:#415757;
$themeLightGreen:#6c7e83;
$themeDarkBlue:#2c3e50;
$red:#BA9291;
$green:#9CB895;
$yellow:#EBC387;




//sidebar
$sidebarBg: $themeGreen;
$sidebarText:whitesmoke;
$sidebarActiveBg: #4f7170;
$descriptionBg:$themeGreen;
$descriptionText: whitesmoke;

$sidebarWidth : 220px;

//topBar
$topbarBg: #fff;
$topbarTitle:$themeDarkBlue;
